@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.content {
    width: 960px;
    margin: 40px auto;
    padding: 20px;
}

.header {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    border-bottom: 2px solid;
}

.row {
    display: flex;
    margin-right: -15px;
}

.row h2 {
    float: left;
}

.col {
    position: relative;
    width: 100%;

} 