@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;

    .navbar {
        padding: 20px;
        display: flex;
        align-items: center;
        max-width: 960px;
        margin: 0 auto;
        border-bottom: 1px solid;

        h1 {
            color: #1924fe;
        }

        .links {
            margin-left: auto;

            a {
                margin-left: 16px;
                text-decoration: none;
                padding: 6px;
            }

            a:hover {
                color: #1924fe;
            }
        }

       
    }

    .home {
        max-width: 960px;
        margin: 5% auto;
        text-align: left;

        h2 {
            margin-bottom: 16px;
            color: #1924fe;
        }

        li {
            margin-top: 16px;
            position: relative;
            left: -3%;
        }

        #brr {
            padding-top: 32px;
        }
        
    }

    .fysisk {
        margin-top: 32px;
        border-top: 1px solid;
        padding-top: 16px;
        

        .txt {
            margin-top: 16px;
        }
    }

    ol {
        li {
            padding-top: 5px;
            margin-left: 5px;
        }
    }
    
    .footer {
        display: flex;
        flex-wrap: wrap;
        max-width: 960px;
        margin: 0 auto;
        background-color: #fdd716;
        
        .menu-item {
            flex-basis: 16%;
            flex-direction: column;
            color: #111111;
            margin-left: 16px;
            border-right: 1px solid;
            flex: 1;
            
            li {
                list-style-type: none;    
                    a {
                        text-decoration: none;
                        display: inline-block;
                        padding-bottom: 8px;
                        margin-bottom: 20px;
                        color: #111111;
                    }
            }

            .submenu {
                padding-top: 10px;
            }
            
        }
    }
}